@media (min-width: 995px)  {
  div.mainPage {
    margin-right: auto;
    margin-left: auto;
    width: 825px;
    align-items: center;
  }

  .sectionTitle.topmost {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .sectionTitle.strategy {
    margin-left: 20px;
    .mediaList > div{
      padding-bottom: 55px;
    }
  }

  .welcome.text {
    padding-left: 23px;

  }

  .mediaList.brawl-list {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .jedi.gif {
  }

  .friends .innerText {
  }

  .stupid .innerMedia {
    margin-left: 500px;
  }

  .brawl,
  .toAvoid,
  .virtField {
    padding-bottom: 60px;
  }

  .strategy-list {
    .smallText {
      text-align: justify;
    }
  }

}

  .mainPage {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .sectionTitle.topmost {
    
  }

  .welcome.text {
    
  }

