.toAvoid h3 {
  color: #BCC6CC;
}

.classyCombat .innerMedia {
  background-image: url(../../assets/pirate_ninja_sword_fight_hg_clr.gif);
  height: 175px;
  width: 350px;
}

.fromBecoming .innerText {
  font-size: 30px;
  padding-bottom: 55px;
}
.stupid .innerMedia {
  background-image: url(../../assets/poolNoodle.gif);
  height: 175px;
  width: 350px;
}
