@media (min-width: 995px){
  h2 {
  font-size: 46px;
  }
}

.sectionTitle,
.virtField .innerText {
  text-align: center;
  color: #0000FF;
}

.virtField {
  font-size: 40px;
}

.virtField .innerMedia {
  background-image: url(../../assets/VirtualBattlefield.gif);
  height:320px;
  width: 100%;
  background-size: 320px 320px;
}

@media (min-width: 995px) {
  .virtField .innerMedia {
  height: 565px;
  width: 849px;
  background-size: initial;
}
}



