@media (min-width:995px) {
div.jedi.gif {
  background-size: initial;
  height: 338px;
  width: 500px;
}

div.brawl .innerText {
  width: 600px;
}
}

.jedi.gif {
  background-image: url(../../assets/JediPhones.gif);
  background-size: 320px 320px;
  height: 320px;
  width: 320px;
}

  .brawl .innerText {
    font-size: 30px;
    width: 360px;
  }
