.brawl .friends .innerText:before{
  content: 'Battle with your friends as the
  hero of your own virtual action movie'
}

.jedi.gif {
  background-image: url(../../assets/JediPhones.gif);
  height: 338px;
  width: 500px;
}

.brawl .innerText {
  font-size: 30px;
  width: 600px;
}
