
@media (min-width: 860)  {
  a.sharelink  {
    padding-left: 200px;
  }
}

a.sharelink {
    height: 100px;
    width: 350px;
    position: fixed;
}

.slim a.sharelink {
  width: 150px;
  height: 50px;
}

