.strategy-list > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

@media (min-width: 995px)  {
  .strategy-list > div {
    width: 750px;
    justify-content: space-around;
    flex-direction: row;
  }
  .strategy-list .textBlock {
    width: 500px;
  }
  div.strategy h2 {
    text-decoration: none;
    color: #0000FF;
  }
}

.strategy h2 {
  text-decoration: underline;
  color: silver;
}

.strategy-list .innerText {
  font-size: 30px;
}

.strategy-list .smallText {
  color: silver;
  text-align: left;
}

.strategy-list {
  div.offensive.text,
  div.defensive.text  {
    padding-bottom: 20px;
    font-size: 36px;
    justify-content: center;
  }
}

  div.slice,
  div.smash,
  div.stab,
  div.block {
    div.innerMedia{
      height: 300px;
      background-size: 320px 300px;
      width: 320px;
    }
  }


@media (min-width: 995px)  {
  div.slice {
  height: 200px;

  div.innerMedia {
    background-image: url('../../assets/HorizontalSlash.gif');
    height: 200px;
    background-size: cover;
    width: 400px;
    float: right;
    }
  }
}

@media (min-width: 995px) {
  div.smash {
  flex-direction: row-reverse;
  height: 200px;
}
}

.strategy-list div.smash {

   .innerMedia {
    background-image: url('../../assets/VerticalSmash.gif');
    height: 200px;
    background-size: cover;
    width: 400px;
    float: left;
  }
}

.block {
  .innerMedia {
    background-image: url('../../assets/Blocking.gif');
    height: 200px;
    background-size: cover;
    width: 400px;
  }
}

.parry  {
}
