.strategy-list > div {
  display: flex;
  flex-direction: row;
}

.at8units {
  .strategy-list > div {
    width: 750px;
    justify-content: space-around;
  }
}

.at4units {
  .strategy-list > div {
    flex-direction: column;
    padding-bottom: 200px;
  }
}

.at8units .strategy-list .textBlock {
  width: 500px;
}

.strategy-list .innerText {
  font-size: 30px;
}

.strategy-list .smallText {
  color: silver;
}

.strategy-list {
  div.offensive.text,
  div.defensive.text  {
    padding-bottom: 20px;
    font-size: 36px;
    justify-content: center;
  }
}

.at4units {
  .slice,
  .smash,
  .stab {
    height: 320px;
    background-size: 320px 300px;
  }
}

.slice {
  height: 200px;

  .innerMedia {
    background-image: url('../../assets/HorizontalSlash.gif');
    height: 200px;
    background-size: cover;
    width: 400px;
    float: right;
  }
}
.at8units .smash {
  flex-direction: row-reverse;
  height: 200px;
}

.strategy-list div.smash {

   .innerMedia {
    background-image: url('../../assets/VerticalSmash.gif');
    height: 200px;
    background-size: cover;
    width: 400px;
    float: left;
  }
}

.block {
  .innerMedia {
    background-image: url('../../assets/Blocking.gif');
    height: 200px;
    background-size: cover;
    width: 400px;
  }
}

.parry  {
}
