
.sectionTitle.topmost {
  font-size: 20px;
  font-family: fantasy;
  text-transform: uppercase;
  word-spacing: 25px;
  text-indent: 24px;
  color: #DF0101;
  text-shadow: 2px 2px 8px #FFFFFF;
  background-color: #00408B;
  padding-bottom: 30px;
}

.topmost h2 {
  margin-bottom: 100px;
}

.welcome.text {
  text-align: center;
  font-weight: bold;
  width: 320px;
  text-shadow: 0 0 90px;
  margin-bottom: 200px;
}

@media (min-width: 995px) {
  h2 {
    font-size: 46px;
  }

  div.welcome.text {
  width: 620px;
  }
  div.sectionTitle.topmost{
  font-size: 50px;
  }

}
