.at4units .sectionTitle.topmost {
  font-size: 20px;
  width: 368px;
}

.sectionTitle.topmost {
  font-size: 54px;
  font-family: fantasy;
  text-transform: uppercase;
  word-spacing: 25px;
  text-indent: 24px;
  color: #DF0101;
  text-shadow: 2px 2px 8px #FFFFFF;
  background-color: #00408B;
  padding-bottom: 30px;
}

.topmost h2 {
  margin-bottom: 100px;
}

.welcome.text {
  text-align: center;
  font-weight: bold;
  width: 620px;
  text-shadow: 0 0 90px;
  margin-bottom: 200px;
}

.at4units .welcome.text {
  width: 320px;
}

